@import "nomalize.css";
body{
    padding: 0;
    margin: 0;
    font-family: Avenir,STFangsong, Helvetica, Arial,STXihei,sans-serif;
    background-color: #f1f2f6;
}
/*获取根html元素*/
:root{
    /*定义变量*/
    --color-high-text:#f6b93b;
    --color-tint: #fad390;
    --color-dark:#fa983a;
    --color-middle:#f8c291;
    --font-size:14px;
}
